.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Align items to the right */
  width: 1440px;
  height: 200px;
  background-color: #512689;
  color: white;
  text-align: center;
  position: relative; /* Add relative positioning to the header */
}

.h1 {
  font-size: 65px;
  margin: 0;
}

.logoutButton {
  position: absolute; /* Position the button absolutely within the header */
  top: 10px; /* Adjust top and right values to position the button */
  right: 10px;
  width: 50px;
  height: 30px; /* Add height and width for the button */
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}
