.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.button {
  background-color: white;
  border: 2px solid rgba(211, 206, 206, 0.589);
  border-radius: 5px;
}
